Create a new Landmark! :D
<form method="post" action="/landmarks">
	<h3>Landmark Name: <input id="landmark_name" type="text" name="landmark[name]"></h3>
	<h3>Year Completed: <input type="text" id="landmark_year_completed" name="landmark[year_completed]"></h3>

	<input type="submit" value="Create New Landmark">
</form>